<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/iitmnlp/PlotQA" data-icon="octicon-star" data-style="mega" data-count-href="/iitmnlp/PlotQA/stargazers" data-count-api="/repos/iitmnlp/PlotQA#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star iitmnlp/PlotQA on GitHub">Star</a>
