//$theme-color=#1b9e98
$theme-color=#1c9993
$theme-color-dark=#0e7d78
$theme-color-light=#568540
//$theme-color=#ea4141
//$theme-color-dark=#cc4242
//$theme-color-light=#ea4141
$secondary-color=#29BB43
$theme-gray=#666
$theme-light-gray=#f4f4f4
